@charset "utf-8";

body {
    background: #EBEBE9;
    background-image: -webkit-linear-gradient(160deg, rgba(255, 255, 255, 0.35) 3%, rgba(0, 0, 0, 0.35) 100%), -webkit-radial-gradient(101% 97%, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 98%);
    background-image: linear-gradient(-70deg, rgba(255, 255, 255, 0.35) 3%, rgba(0, 0, 0, 0.35) 100%), radial-gradient(101% 97%, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 98%);
    background-blend-mode: normal,normal,lighten;
    background-size: 2000px 1000px;
    /* font-family: "Potta One", system-ui;
    font-weight: 400;
    font-style: normal;       */
    font-family: "Hachi Maru Pop", cursive;
    font-weight: 400;
    font-style: normal;
}

body section#main {
    margin: 20px auto 0 auto;
    height: 550px;
    /* border: solid 1px; */
}

#kyomu h1 {
    text-align: center;
    /* font-weight: bold; */
    font-size: 40px;
}

#kyomu span {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

/* パックの画像 */

#pack_img {
    display: flex;
}

#pika_pack, #riz_pack, #myu2_pack, #myu_pack, #dia_pack, #pal_pack, #al_pack {
    margin-left: 25px;
}

#pika_pack img, #riz_pack img, #myu2_pack img, #myu_pack img, #dia_pack img, #pal_pack img, #al_pack img {
    width: 180px;
}

#pika_pack img:hover {
    transform:scale( 1.1, 1.1 );
    transition: all .3s;
}

#riz_pack img:hover {
    transform:scale( 1.1, 1.1 );
    transition: all .3s;
}

#myu2_pack img:hover {
    transform:scale( 1.1, 1.1 );
    transition: all .3s;
}

#myu_pack img:hover {
    transform:scale( 1.1, 1.1 );
    transition: all .3s;
}

#dia_pack img:hover {
    transform:scale( 1.1, 1.1 );
    transition: all .3s;
}

#pal_pack img:hover {
    transform:scale( 1.1, 1.1 );
    transition: all .3s;
}

#al_pack img:hover {
    transform:scale( 1.1, 1.1 );
    transition: all .3s;
}

/* ピカチュウパックボタン */

.pika_button {
    font-size: 20px;
    margin: 50px auto auto auto;
    width: 170px;
    padding: 3px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(145deg, white, red, black, yellow, white);
    border: 0;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.pika_button:active, .pika_button:hover {
    outline: 0;
}

.pika_button span {
    background-image: linear-gradient(rgb(55, 50, 50), black, black);
    padding: 1rem 4rem;
    border-radius: 35px;
    width: 41px;
    height: 100%;
    transition: 300ms;
}

.pika_button:hover span {
    background: none;
    color: white;
}

/* リザードンパックボタン */

.riz_button {
    font-size: 20px;
    margin: 50px auto auto auto;
    width: 170px;
    padding: 3px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(145deg, white, grey, red, orange, blue);
    border: 0;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.riz_button:active, .riz_button:hover {
    outline: 0;
}

.riz_button span {
    background-image: linear-gradient(rgb(55, 50, 50), black, black);
    padding: 1rem 4rem;
    border-radius: 35px;
    width: 41px;
    height: 100%;
    transition: 300ms;
}

.riz_button:hover span {
    background: none;
    color: white;
}

/* ミュウツーパックボタン */

.myu2_button {
    font-size: 20px;
    margin: 50px auto auto auto;
    width: 170px;
    padding: 3px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(145deg, white, grey, violet, pink, blue);
    border: 0;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.myu2_button:active, .riz_button:hover {
    outline: 0;
}

.myu2_button span {
    background-image: linear-gradient(rgb(55, 50, 50), black, black);
    padding: 1rem 4rem;
    border-radius: 35px;
    width: 41px;
    height: 100%;
    transition: 300ms;
}

.myu2_button:hover span {
    background: none;
    color: white;
}

/* ミュウパックボタン */

.myu_button {
    font-size: 20px;
    margin: 50px auto auto auto;
    width: 170px;
    padding: 3px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(145deg, white, skyblue, violet, pink, green);
    border: 0;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.myu_button:active, .riz_button:hover {
    outline: 0;
}

.myu_button span {
    background-image: linear-gradient(rgb(55, 50, 50), black, black);
    padding: 1rem 4rem;
    border-radius: 35px;
    width: 41px;
    height: 100%;
    transition: 300ms;
}

.myu_button:hover span {
    background: none;
    color: white;
}

/* ディアルガパックボタン */

.dia_button {
    font-size: 20px;
    margin: 50px auto auto auto;
    width: 170px;
    padding: 3px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(145deg, white, grey, red, orange, yellow);
    border: 0;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.dia_button:active, .riz_button:hover {
    outline: 0;
}

.dia_button span {
    background-image: linear-gradient(rgb(55, 50, 50), black, black);
    padding: 1rem 4rem;
    border-radius: 35px;
    width: 41px;
    height: 100%;
    transition: 300ms;
}

.dia_button:hover span {
    background: none;
    color: white;
}

/* パルキアパックボタン */

.pal_button {
    font-size: 20px;
    margin: 50px auto auto auto;
    width: 170px;
    padding: 3px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(145deg, white, grey, red, orange, yellow);
    border: 0;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.pal_button:active, .riz_button:hover {
    outline: 0;
}

.pal_button span {
    background-image: linear-gradient(rgb(55, 50, 50), black, black);
    padding: 1rem 4rem;
    border-radius: 35px;
    width: 41px;
    height: 100%;
    transition: 300ms;
}

.pal_button:hover span {
    background: none;
    color: white;
}

/* アルセウスパックボタン */

.al_button {
    font-size: 20px;
    margin: 50px auto auto auto;
    width: 170px;
    padding: 3px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(145deg, white, grey, red, orange, yellow);
    border: 0;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

.al_button:active, .riz_button:hover {
    outline: 0;
}

.al_button span {
    background-image: linear-gradient(rgb(55, 50, 50), black, black);
    padding: 1rem 4rem;
    border-radius: 35px;
    width: 41px;
    height: 100%;
    transition: 300ms;
}

.al_button:hover span {
    background: none;
    color: white;
}

/* 「1 PACK」ボタン */

a.button {
    font-size: 20px;
    margin: 50px auto auto auto;
    width: 170px;
    padding: 3px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(145deg, white, silver, black, gold, white);
    border: 0;
    border-radius: 40px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

a.button:active, a.button:hover {
    outline: 0;
}

a.button span {
    background-image: linear-gradient(rgb(55, 50, 50), black, black);
    padding: 1rem 4rem;
    border-radius: 35px;
    width: 41px;
    height: 100%;
    transition: 300ms;
}

a.button:hover span {
    background: none;
    color: white;
}

/* 「TOP」ボタン */

a.roop {
    font-size: 20px;
    margin: 30px auto auto auto;
    width: 170px;
    padding: 3px;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(145deg, black, silver, white, gold, black );
    border: 0;
    border-radius: 40px;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
}

a.roop:active, a.roop:hover {
    outline: 0;
}

a.roop span {
    background: white;
    padding: 1rem 4rem;
    border-radius: 35px;
    width: 41px;
    height: 100%;
    transition: 300ms;
}

a.roop:hover span {
    background: none;
    color: black;
}

/* カード */

div#img {
    text-align: center;
    margin-left: 40px;
}

div#img img {
    width: 180px;
    border: solid 1px;
    border-radius: 10px;
    margin: 100px 40px 0 0;
}

div#img img:hover {
    transform:scale( 1.1, 1.1 );
    transition: all .3s;
}